:root {
    --color-claro: #f2ede4; 
    --color-light-green: #daeccdaa;
    --color-green: #abbe8e;   
    --color-dark-green: #736c4d;
    --color-red:#954926;
}

body {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: var(--color-claro);
}


/* Estilos para el Banner */
.banner {
    position: relative; /* Permite que el título se superponga */
    background-color: var(--color-claro); /* Usa la variable para el color de fondo */
}

.banner .container-banner {
    position: relative; /* Necesario para que el título se posicione correctamente */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner .title {
    position: absolute; /* Permite que el título se superponga al banner */
    top: 50%; /* Coloca el título en el centro vertical del banner */
    transform: translateY(-55%); /* Ajusta la posición para centrarlo exactamente */
    width: 100%;
    z-index: 10; /* Para asegurar que esté al frente */
}

.banner .banner-img {
    width: 100%; /* Imagen que ocupa todo el ancho */
    max-height: 1920px; /* Limita la altura de la imagen */
    object-fit:cover; 
    border-bottom-left-radius: 40%; 
    border-bottom-right-radius: 40%;
    height: 100vh; /* Hace que el banner ocupe toda la altura del viewport */
}

/* Botón Flotante con animación de rotación */
@keyframes rotate {
    from {
        transform: rotate(0deg); /* Comienza sin rotación */
    }
    to {
        transform: rotate(360deg); /* Gira 360 grados */
    }
}

.floating-button {
    position: fixed; /* Hace que el botón sea flotante */
    z-index: 99;
    bottom: 0px; /* Posiciona el botón a 0px del borde inferior */
    right: 0px; /* Posiciona el botón a 0px del borde derecho */
    cursor: pointer;
    animation: rotate 10s linear infinite; /* Aplica la animación de rotación */
}

.floating-button img {
    width: 115px; /* Tamaño de la imagen del botón */
}

/* Barra de navegación */

.navbar {
    background-color: var(--color-claro); /* Usa la variable para el color de fondo */ 
    display: flex; /* Para alinear los elementos */
    align-items: center; /* Alineación vertical */
}

.navbar ul {
    list-style: none; /* Quita los puntos de la lista */
    margin: 0; /* Sin margen */
    padding: 30px 0 30px 0; 
    display: flex; /* Para alinear horizontalmente */
    flex: 1;
    justify-content: space-around;
}

.navbar a {
    font-family: 'Roboto', sans-serif; /* Fuente para los enlaces del navbar */
    text-decoration: none; /* Sin subrayado */
    color: var(--color-dark-green); /* Usa la variable para el color del texto */
    font-weight:lighter;
    font-size:0.8em; /* Tamaño del texto */
    padding: 10px 50px; /* Espaciado interno */
    position: relative; /* Para el uso de pseudo-elementos */
    transition: all 0.3s; /* Animación suave */
    display: block;
}

.navbar ul a:hover:after {
    content: ''; /* Pseudo-elemento vacío para crear la línea de subrayado */
    position: absolute; /* Posición absoluta para el subrayado */
    bottom: 0; /* Alinea el subrayado con la parte inferior del elemento 'a' */
    left: 0; /* Comienza desde la izquierda */
    width: 100%; /* El subrayado cubre todo el ancho del elemento 'a' */
    height: 2px; /* Altura del subrayado */
    background-color: var(--color-dark-green); /* Color del subrayado */
    transition: width 0.5s; /* Animación para el efecto de subrayado */
}

a.logo {
    flex: 0 1 auto; /* Permite que el logo tenga un ancho variable */
    text-align: center; /* Alinea el logo al centro */
    padding: 0px; /* Sin padding */
}

.logo img {
    height: 70px; /* Tamaño del logo */
}

/* Estilos para la página de Contacto */
.contact {
    background-color: var(--color-claro);
    .banner .banner-pic {
        width: 100%;
    }
    .container {
        max-width: 60%;
        margin: 0 auto;
        padding: 20px;
    }
    .container .encabezado {
        text-align: center;
    }
    .container p {
        margin: 0 0 20px 0;
        font-weight:bold;
    }
    h1, h2 {
        text-align: center;
        margin: 20px 0 10px 0;
        color: var(--color-red);
    }
    h3 {
        margin: 50px 0 6px 0;
        color: var(--color-red);
    }
    .apartado {
        margin: 40px 0 40px 0;
    }
    form {
        margin-top: 40px;
    }
    label {
        display: block;
        margin-bottom: 5px;
        margin-top: 20px;
        color: var(--color-red);
        font-weight: bold;
    }
    input, select {
        width: 100%;
        padding: 12px;
        margin-bottom: 16px;
        border: none;
        border-bottom: 1px solid black;
    }
    .detalles {
        width: 100%;
        padding: 12px;
        margin-bottom: 16px;
        margin-top: 20px;
        border: none;
        border-bottom: 1px solid black;
    }
    input[type="submit"] {
        background-color: var(--color-red);
        color: #f2ede4;
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background-color: var(--color-dark-green);
    }
    
    .row {
        display: flex;
        justify-content: space-between;
    }
    
    .half-column {
        width: 48%; 
    }
    
    .half-column:not(:first-child) {
        margin-left: 4%; 
    }
    
    .button {
        display:flex;
        justify-content:center;
        align-items:center;
        margin-top: 76px;
    }
    .button input {
        width: 14%; 
        height: 50px;
        text-align: center;
        font-weight: bold;
        border: none;
        border-radius: 10px;
    }  
}

footer {
    background-color: var(--color-light-green);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.footer-left img {
    width: 330px;   
    margin-left: 50px;
}
.footer-right img {
    width: 175px; /* Tamaño de las imágenes */
}

.footer-center {
    flex: 2; /* Doble espacio para el centro */
    display: flex; /* Permite alineación interna */
    justify-content: space-around; /* Espacia los elementos internos */
    
    padding: 80px 0 80px 0;
}

.footer-text-left,
.footer-text-right {
    padding: 10px; /* Espaciado interno */
    display: flex;
    flex-direction: column;
}

.footer-text-left a,
.footer-text-right a {    
    display: block;
    text-decoration: none; 
    margin: 5px 0;
    font-weight: bold;
    font-size: 25px;
    color: var(--color-dark-green);
}
.footer-text-left p,
.footer-text-right p {
    text-decoration: none; /* Sin subrayado */
    margin: 5px 0; /* Espacio entre enlaces */
    font-weight: 300; 
    font-size: 18px; /* Tamaño del texto */
    color: var(--color-dark-green); /* Color del texto */
    font-family:"Frank Ruhl Libre", serif
}

.footer-text-left a:hover,
.footer-text-right a:hover {
    position: relative; /* Ensure pseudo-element is positioned relative to the anchor */
}

.footer-text-left a:hover::after,
.footer-text-right a:hover::after {
    content: ''; 
    position: absolute; 
    bottom: -4px; 
    left: 0;
    width: 100%; 
    height: 2px; 
    background-color: var(--color-dark-green); 
    transition: width 0.5s; 
}

/* Estilos para la sección Alojamientos */
.alojamientos{
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: var(--color-dark-green);
}

/* Personalización de la barra de desplazamiento para navegadores basados en WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background: var(--color-dark-green); /* Color del thumb (parte desplazable) */
    border-radius: 10px; /* Bordes redondeados para un aspecto suave */
}

::-webkit-scrollbar-track {
    background: var(--color-claro); /* Color del track (parte de fondo) */
}

/* Personalización para Firefox */
* {
    scrollbar-width: thin; /* Ancho fino para la barra de desplazamiento */
    scrollbar-color: #736C4D #F2EDE4; /* Color del thumb y del track */
}


